/************************************************************************************
RESET
*************************************************************************************/
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {margin: 0; padding: 0;}



/* set image max width to 100% */
img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, section {display: block;}

/************************************************************************************
GENERAL STYLING
*************************************************************************************/
body {font:.90em/150% Arial, Helvetica, sans-serif; color:#333;}

a {color: #026acb; text-decoration: none; outline: none;}

a:hover {text-decoration: underline;}

/* headings */
h1, h2, h3, h4, h5, h6 {margin:0px; padding:0px;}

h1 {font-size: 2.2em; margin-top:1em; font-weight:normal;}

h2 {font-size: 1.8em;}

h3 {font-size: 1.6em;}

h4 {font-size: 1.4em; font-weight:normal;}

h5 {font-size: 1.2em;}

h6 {font-size: 1em;}



.clr{clear:both;}

.goog-te-gadget-simple {
    background-color: #fff;
    border-color: #9b9b9b #d5d5d5 #e8e8e8;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 10pt;
    margin: -8px 11px 0px;
    padding-bottom: 2px;
    padding-top: 1px;
    text-align: center;
}

#map {
        width: 1122px;
        height: 360px;
      }

#mobile-menu1{display:none;}

.left-panel{width:25%; margin:2em 0px; padding:0px; float:left; background:url(../images/bg-shadow.jpg) right top repeat-y; overflow:hidden;}

.left-panel ul{margin:0px; padding:0px; width:80%;}

.left-panel ul li{margin:0px; padding:0px; list-style:none; color:#333; font-size:14px; display:block;}

.left-panel ul li a{margin:0px; padding:5px 10px; list-style:none; border-bottom:1px solid #e4e4e6; color:#333; font-size:14px; text-decoration:none; display:block;}

.left-panel ul li:last-child a{border-bottom:none;}

.left-panel ul li a:hover{color:#000; font-size:14px; background:#d2d4de; display:block;}

.left-panel-active{color:#fff; font-size:14px; background:#6d7185; display:block;}

.right-panel{width:70%; margin:2em 0px; padding:0px; float:right;}

.right-panel h1{margin:0px; padding:13px 0 0 50px;}

.right-panel h2{margin:0px; padding:0px; font-weight:normal;}

.left{float:left; width:30%;}

.left img{margin:0px; border:1px solid #cccccc; padding:10px;}

.right{float:right; width:65%}

.hoteal-services{width:100%; margin:20px 0 0; padding:0px;}

.hoteal-services ul{margin:0px; padding:0px;}

.hoteal-services ul li{margin:0px 20px 0 0; padding:0px; list-style:none; float:left; width:200px; text-transform:uppercase;}

.hoteal-services ul li img{margin:0px; border:1px solid #cccccc; padding:5px;}


.menu-left{width:40%; margin:5.5em 0 0; padding:0px; float:left;}

.home{margin:0px 4em 0 0; padding:0px; float:left; text-align:center; text-transform:uppercase;}

.home img{margin:0px auto 12px; text-align:center; display:block;}

.home a{color:#fff; text-decoration:none; text-align:center; font-size:12px;}

.home a:hover{color:#fcd903; text-decoration:none; text-align:center;}

.contact-us{margin:0px 0px 0 4em; padding:0px; float:right; text-align:center; text-transform:uppercase;}

.contact-us img{margin:0px auto 12px; text-align:center; display:block;}

.contact-us a{color:#fff; text-decoration:none; text-align:center; font-size:12px;}

.contact-us a:hover{color:#fcd903; text-decoration:none; text-align:center;}

.menu-right{width:40%; margin:5.5em 0 0; padding:0px; float:right;}

#header-bg{width:100%; margin:0px; padding:0px; background:#868a9f; overflow:hidden;}

.header{max-width:1100px; margin:0px auto; padding:0px;}

.logo{float:left; margin:20px 0px 0px; width:16%;}

.header-right{width:40%; margin:15px 0 0 0; padding:0px; float:right; overflow:hidden;}

.social-media{float:left;}

.social-media ul{margin:0px; padding:0px;}

.social-media ul li{margin:0px 20px 0 0px; padding:0px; list-style:none; float:right;}

.social-media-footer{float:right;}

.social-media-footer ul{margin:0px; padding:0px;}

.social-media-footer ul li{margin:0px 20px 0 0px;  list-style:none; float:right; }

.social-media-footer ul li img{background:#fff; padding:5px;  border-radius:0.2em;}

.search{width:60%; margin:0px 0 0 3em; padding:0px; background:#f2f1f1; border:1px solid #666a7e; float:left; overflow:hidden;}

.search-left{width:80%; margin:0px; padding:0px; float:left; overflow:hidden;}

.search-right{width:12%; margin:6px 0 0 0; padding:0px; float:right; overflow:hidden;}

.search-input{margin:0px 0 0 0; padding:8px 10px; background:#f2f1f1; border:none; color:#999; overflow:hidden; width:100%;}

.email{float:right; margin:0px 30px 0px 0em; overflow:hidden;}

.email ul{margin:0px; padding:0px;}

.email ul li{margin:0px 0 0 10px; padding:0px; list-style:none; float:left; color:#fff; font-size:16px;}

.email ul li a{text-decoration:none; color:#fff;}

.phone{float:right; margin:0px 0px 0px;}

.phone ul{margin:0px; padding:0px;}

.phone ul li{margin:0px 0 0 10px; padding:0px; list-style:none; float:left; color:#fff; font-size:14px; font-weight:bold;}



#menu-bg{width:100%; margin:0px; padding:0px; background:#9499ae; overflow:hidden;}

.menu-bg{width:1100px; margin:0px auto; padding:10px 0px 2px; overflow:hidden;}



#banner{width:100%; margin:0px; padding:0px; background:url(../images/banner.png) center top no-repeat; overflow:hidden; height:506px; background-size:cover;}

.content{max-width:1100px; margin:0px auto; padding:0px; margin-top:1.5em;}

.box-first{width:250px; margin:0px 35px 0 0; padding:0px; float:left; overflow:hidden;}

.price-box{width:100%; margin:10px 0 1em; padding:10px; font-size:13px; border:1px solid #a0a0a0; overflow:hidden; text-align:center;}

.read-more{width:45%; margin:10px auto;}

.read-more a{margin:0em auto; display:block; padding:8px 20px; border-radius:3em; text-align:center; background:#2a4d71; text-decoration:none; color:#fff;}

.read-more a:hover{background:#1c3957;}

.box-second{width:250px; margin:0px 20px 0 0px; padding:0px; float:left; overflow:hidden;}

.box-third{width:250px; margin:0px 0px 0 12px; padding:0px; float:left; overflow:hidden;}

.box-last{width:250px; margin:0px 0px 0 0; padding:0px; float:right; overflow:hidden;}

.banner-bottom{margin:3em 0px 2em; padding:0px; width:100%;}

.banner-bottom-text{ width:100%; margin:0px auto;}

.banner-bottom-text h1{text-align:center; margin:0px 0px 10px;}

.banner-bottom-text p{text-align:justify;}

.style2{float:right; color:#FF0000;}

.style1{float:left;}

#footer-main{width:100%; margin:30px 0 0; padding:0px; background:url(../images/footer.png) left top repeat; overflow:hidden;}

.footer{max-width:1100px; margin:0px auto; padding:10px 0; overflow:hidden; text-align:center; color:#fff; line-height:1.8;}

.footer-left{width:64%; margin:5px 0px 0px; padding:0px; float:left; color:#d0cfcf; text-align:left;}

.footer-left a{text-decoration:none; color:#d0cfcf; text-align:left; margin-right:30px;}

.footer-left a:hover{text-decoration:none; color:#fff;}
	
hr{margin:0px; padding:0px; background:#5d5d5d;}

.footer-left ul{margin:0px 5em 0 0; padding:0px; width:25%; float:left;}

.footer-left ul li{margin:0px; padding:0px; list-style:none; color:#d0cfcf; border-bottom:1px solid #696969;}

.footer-left ul li a{ color:#d0cfcf; text-decoration:none;}

.footer-left ul li a:hover{ color:#fff; text-decoration:none;}

.footer-right{width:32%; margin:0px; padding:0px; float:right; color:#d0cfcf; text-align:justify;}

.footer-right p a{text-decoration:none; color:#d0cfcf;}

.footer-right p a:hover{text-decoration:none; color:#fff;}



/**blog css start here**/
.blog1{float:left; width:30%; margin-bottom:2em;}

.blog1 h4{ font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#868A9F; font-size:14px; text-transform:uppercase;}

.blog1 p{text-align:justify;}

.blog1 ul{marging:0px 0px 0px 0px; padding:0px;}

.blog1 ul li{margin:0px 0px 0px 12px; padding:0px 0px 0px 3px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#666666;}

.blog1 img{margin:10px 0px 0 0; border:1px solid #cccccc; padding:10px;}

.blog2{float:left; width:30%; margin-left:50px;}

.blog2 h4{ font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#868A9F; font-size:14px; text-transform:uppercase;}

.blog2 p{text-align:justify;}

.blog2 img{margin:10px 0px 0 0; border:1px solid #cccccc; padding:10px;}

.blog2 ul{marging:0px 0px 0px 0px; padding:0px;}

.blog2 ul li{margin:0px 0px 0px 12px; padding:0px 0px 0px 3px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#666666;}

.blog3{float:right; width:30%;}

.blog3 h4{ font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#868A9F; font-size:14px; text-transform:uppercase;}

.blog3 p{text-align:justify;}

.blog3 img{margin:10px 0px 0 0; border:1px solid #cccccc; padding:10px;}

.blog3 ul{marging:0px 0px 0px 0px; padding:0px;}

.blog3 ul li{margin:0px 0px 0px 12px; padding:0px 0px 0px 3px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#666666;}

.post-calendar{ width:100%; margin:0px 0 10px 0;}

.post-calendar-left{ width:40%; float:left;}

.post-calendar-left a{ text-decoration:none; color:#333; background:url(../images/calendar_icon.png) no-repeat center left; padding:0 10px 0 15px; font-size:12px; font-family:Arial, Helvetica, sans-serif;}

.post-calendar-right{ width:40%; float:left;}

.post-calendar-right a{ text-decoration:none; color:#333; background:url(../images/admin_icon.png) no-repeat center left; padding:0 10px 0 15px; font-size:12px; font-family:Arial, Helvetica, sans-serif;}


/**Gallery css start here**/
.gallery-main{ width:100%;}

.gallery-main ul{ list-style:none; margin:0px; padding:0px;}

.gallery-main ul li{ padding:0px; display:block; float:left; width:22%; margin:0px 120px 50px 0px;}

.gallery-main ul li a{ padding:0px; text-decoration:none; float:left; padding:0 0px; display:block;}

.gallery-main ul li{ font-family:Arial, Helvetica, sans-serif; font-weight:normal; color:#868A9F; font-size:18px; text-transform:uppercase; padding:0 0 10px 0;}

.gallery-main ul li img{margin:10px 0 0; border:1px solid #cccccc; padding:10px;}


/**contact css start here**/
.contact-main{ width:100%; margin:20px 0 0 0;}

.address-box{ width:30%; float:left;}
.address-box h4{ font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#666; font-size:17px; }
.address-box ul{ list-style:none; margin:10px 0 0 0; padding:0px;}
.address-box ul li{margin:0px; padding:0px; text-decoration:none; font-size:14px; line-height:1.8;}

.phones-box{ width:30%; float:left; margin-left:40px;}
.phones-box h4{ font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#666; font-size:17px; }
.phones-box ul{ list-style:none; margin:10px 0 0 0; padding:0px;}
.phones-box ul li{margin:0px; padding:0 0 0 20px; text-decoration:none; font-size:14px; line-height:1.8; background:url(../images/call_icon.png) no-repeat center left;}

.email-box{ width:30%; float:left; margin-left:40px;}
.email-box h4{ font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#666; font-size:17px; }
.email-box ul{ list-style:none; margin:10px 0 0 0; padding:0px;}
.email-box ul li{margin:0px; padding:0 0 0 30px; text-decoration:none; font-size:14px; line-height:1.8; background:url(../images/email_icon.png) no-repeat center left;}


.contact-about{ width:100%; margin:20px 0 0 0;}
.contact-about h4{ font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#666; font-size:17px; }

.contact-about p{text-align:justify; color:#333; padding:5px 0;}

.contact-form{ width:100%; margin:30px 0 0 0;}
.contact-form-left{ width:32%; float:left;}
.contact-form-left input{ width:100%; padding:10px 5px; border:1px solid #ccc;}
.contact-form-middle{ width:32%; float:left; margin-left:20px;}
.contact-form-middle input{ width:100%; padding:10px 5px; border:1px solid #ccc;}
.contact-form-right{ width:32%; float:right;}
.contact-form-right input{ width:100%; padding:10px 5px; border:1px solid #ccc;}

.contact-form textarea{ width:100%; padding:10px 5px; border:1px solid #ccc; height:150px; margin:20px 0 0 0;}

.submit{ width:150px; margin-top:10px;}
.submit input{ width:100%; background:#333; color:#fff; padding:10px 10px; text-align:center; border:none; font-size:16px; cursor:pointer;}



/**our room css start here**/

.read-more-our-room{width:35%; margin-top:10px;}

.read-more-our-room a{margin:0em; display:block; padding:6px 16px; border-radius:4px; text-align:center; background:#2a4d71; text-decoration:none; color:#fff; text-transform:uppercase;}

.read-more-our-room a:hover{background:#1c3957;}

/**reservation css start here**/

.reservation-main{ width:100%;}

.reservation-left{ width:62%; float:left;}

.reservation-left input{ width:100%; padding:10px 5px; border:1px solid #ccc; margin:10px 0;}

.reservation-left textarea{ width:100%; padding:10px 5px; border:1px solid #ccc; margin:10px 0; height:130px;}

.reservation-left h3{ font-size:22px; color:#333; margin:0px; padding:10px 0;}
.reservation-left h4{font-size:16px; color:#333; margin:0px; padding:10px 0;}
.reservation-left p{ font-size:14px; color:#666;}

.reservation-right{ width:30%; float:right;}

.reservation-right h3{ font-size:22px; color:#333; margin:0px; padding:10px 0;}
.reservation-right h4{font-size:16px; color:#333; margin:0px; padding:10px 0;}
.reservation-right p{ font-size:14px; color:#666;}


@media screen and (max-width: 1100px) {
	
	
	
}

/************************************************************************************
smaller than 980
*************************************************************************************/
@media screen and (max-width: 980px) {
	

	
.header{width:100%; margin:0px auto; padding:0px;}
.menu-bg{width:100%; margin:0px auto; padding:0px;}
img{ max-width:100%;}

.logo{float:none; margin:5px auto; display:block; text-align:center; width:35%;}

.nav-toggle{ background:none;}
.phone-mobile{float:left; display:block; margin: 17px 0px 0;  padding:0px 0px 0px 20px;}

.search-mobile{display:block; width:100%; margin:0; padding:8px 0px 8px; float:left; background:#f9f9f9; border:1px solid #e4e1e1;}

.search-inner{width:95%; margin:0 auto; padding:4px 0px; overflow:hidden; background:#fff; border:1px solid #e4e1e1;}

.search-input{width:100%; margin:0px; padding:0px; background:#fff; font-size:14px; color:#a6acaf; border:none;}	

.header-right{width:40%; margin:15px 0 0 0; padding:0px; float:right; overflow:hidden; display:none;}

.content{width:94%; margin:0px auto; padding:0px; margin-top:1.5em;}

.box-first{width:95%; margin:0px auto; padding:0px; float:none; overflow:hidden; text-align:center;}

.box-second{width:95%; margin:0px auto; padding:0px; float:none; overflow:hidden;}

.box-second img{text-align:center; margin:0px auto; display:block;}

.box-second h5{text-align:center; margin:5px 0px;}

.box-second p{text-align:center; margin:5px 0px;}

.box-third{width:95%; margin:0px auto; padding:0px; float:none; overflow:hidden;}

.box-third img{text-align:center; margin:0px auto; display:block;}

.box-third h5{text-align:center; margin:5px 0px;}

.box-third p{text-align:center; margin:5px 0px;}

.box-last{width:95%; margin:0px auto; padding:0px; float:none; overflow:hidden;}

.box-last img{text-align:center; margin:0px auto; display:block;}

.box-last h5{text-align:center; margin:5px 0px;}

.box-last p{text-align:center; margin:5px 0px;}

.price-box{width:90%; margin:0 auto; padding:10px; border:1px solid #a0a0a0; overflow:hidden; margin-top:10px;}

.read-more{width:50%; margin:0px auto; margin-top:10px; margin-bottom:10px;}
.banner-bottom{margin:1em 0; padding:0px; width:100%;}	

.footer{width:94%; margin:10px auto; padding:0px; overflow:hidden; text-align:center; color:#fff; line-height:1.8;}
	
.menu-left{display:none;}

.contact-us{display:none;}

.social-media{float:left;display:none;}

#mobile-menu1{display:block;}

.menu-right{width:40%; margin:5.5em 0 0; padding:0px; float:right; display:none;}

.phone{float:none; margin:10px 0px;}

.email{float:none; margin:5px 30px 5px 0em; overflow:hidden; width:100%}

.banner-bottom-text{ width:94%; margin:0px auto;}

.banner-bottom-text h1{text-align:center; margin:0px 0px 10px; line-height:1.2;}

.footer-left{width:100%; margin:5px 0px 0px; padding:0px; float:none; color:#d0cfcf; text-align:center;}

.footer-left a{text-decoration:none; color:#d0cfcf; text-align:left; margin:0px; padding:0px 5px;}

.social-media-footer{float:none; margin:10px auto; width:78%;}

.footer-right{width:100%; margin:0px; padding:0px; float:right; color:#d0cfcf; text-align:justify;}

.footer-left ul{margin:0px 5em 0 0; padding:0px; width:100%; float:none;}

.reservation-left{ width:100%; float:none;}

.reservation-right{ width:100%; float:none;}

.blog1{float:none; width:100%; margin-bottom:2em;}

.blog2{float:none; width:100%; margin-bottom:2em; margin-left:0px;}

.blog3{float:none; width:100%; margin-bottom:2em;}

.gallery-main ul li{ padding:0px; display:block; float:left; width:45%; margin:0 10px;}

.gallery-main ul li a{ padding:0px; text-decoration:none; float:none; padding:0 0px; display:block;}

.left{float:none; width:100%;}

.right{float:none; width:100%}

.hoteal-services ul li img {border: 1px solid #cccccc; display: block; margin: 0 auto 10px; padding: 5px; text-align: center;}

.hoteal-services ul li {
    float: none;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

#map {
        width: 100%;
        height: 200px;
      }
.address-box{ width:100%; float:none;}

.phones-box{ width:100%; float:none; margin-left:0px;}

.email-box{ width:100%; float:none; margin-left:0px;}

.contact-form-left{ width:100%; float:none;}

.contact-form-middle{ width:100%; float:none; padding:10px 0px ; margin-left:0px;}

.contact-form-right{ width:100%; float:none;}

.left-panel{width:100%; margin:1em 0px; padding:0px; float:left; background:url(../images/bg-shadow.jpg) right top repeat-y; overflow:hidden;}

.right-panel{width:100%; margin:2em 0px; padding:0px; float:right;}

.right-panel h1{margin:0px; padding:13px 0 0 0px; line-height:1.2;}

	
}



@media screen and (max-width: 650px) {
	

	
	.header{width:100%; margin:0px auto; padding:0px;}
.menu-bg{width:100%; margin:0px auto; padding:0px;}
img{ max-width:100%;}

.logo{float:none; margin:5px auto; display:block; text-align:center; width:30%;}

.nav-toggle{ background:none;}
.phone-mobile{float:left; display:block; margin: 17px 0px 0;  padding:0px 0px 0px 20px;}

.search-mobile{display:block; width:100%; margin:0; padding:8px 0px 8px; float:left; background:#f9f9f9; border:1px solid #e4e1e1;}

.search-inner{width:95%; margin:0 auto; padding:4px 0px; overflow:hidden; background:#fff; border:1px solid #e4e1e1;}

.search-input{width:100%; margin:0px; padding:0px; background:#fff; font-size:14px; color:#a6acaf; border:none;}	

.header-right{width:40%; margin:15px 0 0 0; padding:0px; float:right; overflow:hidden; display:none;}

.content{width:94%; margin:0px auto; padding:0px; margin-top:1.5em;}

.box-first{width:95%; margin:0px auto; padding:0px; float:none; overflow:hidden; text-align:center;}

.box-second{width:95%; margin:0px auto; padding:0px; float:none; overflow:hidden;}

.box-second img{text-align:center; margin:0px auto; display:block;}

.box-second h5{text-align:center; margin:5px 0px;}

.box-second p{text-align:center; margin:5px 0px;}

.box-third{width:95%; margin:0px auto; padding:0px; float:none; overflow:hidden;}

.box-third img{text-align:center; margin:0px auto; display:block;}

.box-third h5{text-align:center; margin:5px 0px;}

.box-third p{text-align:center; margin:5px 0px;}

.box-last{width:95%; margin:0px auto; padding:0px; float:none; overflow:hidden;}

.box-last img{text-align:center; margin:0px auto; display:block;}

.box-last h5{text-align:center; margin:5px 0px;}

.box-last p{text-align:center; margin:5px 0px;}

.price-box{width:90%; margin:0 auto; padding:10px; border:1px solid #a0a0a0; overflow:hidden; margin-top:10px;}

.read-more{width:50%; margin:0px auto; margin-top:10px; margin-bottom:10px;}
.banner-bottom{margin:1em 0; padding:0px; width:100%;}	

.footer{width:94%; margin:10px auto; padding:0px; overflow:hidden; text-align:center; color:#fff; line-height:1.8;}
	
.menu-left{display:none;}

.contact-us{display:none;}

.social-media{float:left;display:none;}

#mobile-menu1{display:block;}

.menu-right{width:40%; margin:5.5em 0 0; padding:0px; float:right; display:none;}

.phone{float:none; margin:10px 0px;}

.email{float:none; margin:5px 30px 5px 0em; overflow:hidden; width:100%}

.banner-bottom-text{ width:94%; margin:0px auto;}

.banner-bottom-text h1{text-align:center; margin:0px 0px 10px; line-height:1.2;}

.footer-left{width:100%; margin:5px 0px 0px; padding:0px; float:none; color:#d0cfcf; text-align:center;}

.footer-left a{text-decoration:none; color:#d0cfcf; text-align:left; margin:0px; padding:0px 5px;}

.social-media-footer{float:none; margin:10px auto; width:78%;}

.footer-right{width:100%; margin:0px; padding:0px; float:right; color:#d0cfcf; text-align:justify;}

.footer-left ul{margin:0px 5em 0 0; padding:0px; width:100%; float:none;}

.reservation-left{ width:100%; float:none;}

.reservation-right{ width:100%; float:none;}

.blog1{float:none; width:100%; margin-bottom:2em;}

.blog2{float:none; width:100%; margin-bottom:2em; margin-left:0px;}

.blog3{float:none; width:100%; margin-bottom:2em;}

.gallery-main ul li{ padding:0px; display:block; float:left; width:45%; margin:0 10px;}

.gallery-main ul li a{ padding:0px; text-decoration:none; float:none; padding:0 0px; display:block;}

.left{float:none; width:100%;}

.right{float:none; width:100%}

.hoteal-services ul li img {border: 1px solid #cccccc; display: block; margin: 0 auto 10px; padding: 5px; text-align: center;}

.hoteal-services ul li {
    float: none;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

#map {
        width: 100%;
        height: 200px;
      }
.address-box{ width:100%; float:none;}

.phones-box{ width:100%; float:none; margin-left:0px;}

.email-box{ width:100%; float:none; margin-left:0px;}

.contact-form-left{ width:100%; float:none;}

.contact-form-middle{ width:100%; float:none; padding:10px 0px ; margin-left:0px;}

.contact-form-right{ width:100%; float:none;}

.left-panel{width:100%; margin:1em 0px; padding:0px; float:left; background:url(../images/bg-shadow.jpg) right top repeat-y; overflow:hidden;}

.right-panel{width:100%; margin:2em 0px; padding:0px; float:right;}

.right-panel h1{margin:0px; padding:13px 0 0 0px; line-height:1.2;}

.goog-te-gadget-simple {
    background-color: #fff;
    border-color: #9b9b9b #d5d5d5 #e8e8e8;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 10pt;
    margin: 5px 11px 5px;
    padding-bottom: 2px;
    padding-top: 1px;
    text-align: center;
}

	
	
}



@media screen and (max-width:480px)

{
	
.header{width:100%; margin:0px auto; padding:0px;}
.menu-bg{width:100%; margin:0px auto; padding:0px;}
img{ max-width:100%;}

.logo{float:none; margin:5px auto; display:block; text-align:center; width:30%;}

.nav-toggle{ background:none;}
.phone-mobile{float:left; display:block; margin: 17px 0px 0;  padding:0px 0px 0px 20px;}

.search-mobile{display:block; width:100%; margin:0; padding:8px 0px 8px; float:left; background:#f9f9f9; border:1px solid #e4e1e1;}

.search-inner{width:95%; margin:0 auto; padding:4px 0px; overflow:hidden; background:#fff; border:1px solid #e4e1e1;}

.search-input{width:100%; margin:0px; padding:0px; background:#fff; font-size:14px; color:#a6acaf; border:none;}	

.header-right{width:40%; margin:15px 0 0 0; padding:0px; float:right; overflow:hidden; display:none;}

.content{width:94%; margin:0px auto; padding:0px; margin-top:1.5em;}

.box-first{width:95%; margin:0px auto; padding:0px; float:none; overflow:hidden; text-align:center;}

.box-second{width:95%; margin:0px auto; padding:0px; float:none; overflow:hidden;}

.box-second img{text-align:center; margin:0px auto; display:block;}

.box-second h5{text-align:center; margin:5px 0px;}

.box-second p{text-align:center; margin:5px 0px;}

.box-third{width:95%; margin:0px auto; padding:0px; float:none; overflow:hidden;}

.box-third img{text-align:center; margin:0px auto; display:block;}

.box-third h5{text-align:center; margin:5px 0px;}

.box-third p{text-align:center; margin:5px 0px;}

.box-last{width:95%; margin:0px auto; padding:0px; float:none; overflow:hidden;}

.box-last img{text-align:center; margin:0px auto; display:block;}

.box-last h5{text-align:center; margin:5px 0px;}

.box-last p{text-align:center; margin:5px 0px;}

.price-box{width:90%; margin:0 auto; padding:10px; border:1px solid #a0a0a0; overflow:hidden; margin-top:10px;}

.read-more{width:50%; margin:0px auto; margin-top:10px; margin-bottom:10px;}
.banner-bottom{margin:1em 0; padding:0px; width:100%;}	

.footer{width:94%; margin:10px auto; padding:0px; overflow:hidden; text-align:center; color:#fff; line-height:1.8;}
	
.menu-left{display:none;}

.contact-us{display:none;}

.social-media{float:left;display:none;}

#mobile-menu1{display:block;}

.menu-right{width:40%; margin:5.5em 0 0; padding:0px; float:right; display:none;}

.phone{float:none; margin:10px 0px;}

.email{float:none; margin:5px 30px 5px 0em; overflow:hidden; width:100%}

.banner-bottom-text{ width:94%; margin:0px auto;}

.banner-bottom-text h1{text-align:center; margin:0px 0px 10px; line-height:1.2;}

.footer-left{width:100%; margin:5px 0px 0px; padding:0px; float:none; color:#d0cfcf; text-align:center;}

.footer-left a{text-decoration:none; color:#d0cfcf; text-align:left; margin:0px; padding:0px 5px;}

.social-media-footer{float:none; margin:10px auto; width:78%;}

.footer-right{width:100%; margin:0px; padding:0px; float:right; color:#d0cfcf; text-align:justify;}

.footer-left ul{margin:0px 5em 0 0; padding:0px; width:100%; float:none;}

.reservation-left{ width:100%; float:none;}

.reservation-right{ width:100%; float:none;}

.blog1{float:none; width:100%; margin-bottom:2em;}

.blog2{float:none; width:100%; margin-bottom:2em; margin-left:0px;}

.blog3{float:none; width:100%; margin-bottom:2em;}

.gallery-main ul li{ padding:0px; display:block; float:left; width:45%; margin:0 10px;}

.gallery-main ul li a{ padding:0px; text-decoration:none; float:none; padding:0 0px; display:block;}

.left{float:none; width:100%;}

.right{float:none; width:100%}

.hoteal-services ul li img {border: 1px solid #cccccc; display: block; margin: 0 auto 10px; padding: 5px; text-align: center;}

.hoteal-services ul li {
    float: none;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

#map {
        width: 100%;
        height: 200px;
      }
.address-box{ width:100%; float:none;}

.phones-box{ width:100%; float:none; margin-left:0px;}

.email-box{ width:100%; float:none; margin-left:0px;}

.contact-form-left{ width:100%; float:none;}

.contact-form-middle{ width:100%; float:none; padding:10px 0px ; margin-left:0px;}

.contact-form-right{ width:100%; float:none;}

.left-panel{width:100%; margin:1em 0px; padding:0px; float:left; background:url(../images/bg-shadow.jpg) right top repeat-y; overflow:hidden;}

.right-panel{width:100%; margin:2em 0px; padding:0px; float:right;}

.right-panel h1{margin:0px; padding:13px 0 0 0px; line-height:1.2;}

		
	}




@media screen and (max-width:320px)

{
.header{width:100%; margin:0px auto; padding:0px;}
.menu-bg{width:100%; margin:0px auto; padding:0px;}
img{ max-width:100%;}

.logo{float:none; margin:5px auto; display:block; text-align:center; width:45%;}

.nav-toggle{ background:none;}
.phone-mobile{float:left; display:block; margin: 17px 0px 0;  padding:0px 0px 0px 20px;}

.search-mobile{display:block; width:100%; margin:0; padding:8px 0px 8px; float:left; background:#f9f9f9; border:1px solid #e4e1e1;}

.search-inner{width:95%; margin:0 auto; padding:4px 0px; overflow:hidden; background:#fff; border:1px solid #e4e1e1;}

.search-input{width:100%; margin:0px; padding:0px; background:#fff; font-size:14px; color:#a6acaf; border:none;}	

.header-right{width:40%; margin:15px 0 0 0; padding:0px; float:right; overflow:hidden; display:none;}

.content{width:94%; margin:0px auto; padding:0px; margin-top:1.5em;}

.box-first{width:95%; margin:0px auto; padding:0px; float:none; overflow:hidden; text-align:center;}

.box-second{width:95%; margin:0px auto; padding:0px; float:none; overflow:hidden;}

.box-second img{text-align:center; margin:0px auto; display:block;}

.box-second h5{text-align:center; margin:5px 0px;}

.box-second p{text-align:center; margin:5px 0px;}

.box-third{width:95%; margin:0px auto; padding:0px; float:none; overflow:hidden;}

.box-third img{text-align:center; margin:0px auto; display:block;}

.box-third h5{text-align:center; margin:5px 0px;}

.box-third p{text-align:center; margin:5px 0px;}

.box-last{width:95%; margin:0px auto; padding:0px; float:none; overflow:hidden;}

.box-last img{text-align:center; margin:0px auto; display:block;}

.box-last h5{text-align:center; margin:5px 0px;}

.box-last p{text-align:center; margin:5px 0px;}

.price-box{width:90%; margin:0 auto; padding:10px; border:1px solid #a0a0a0; overflow:hidden; margin-top:10px;}

.read-more{width:50%; margin:0px auto; margin-top:10px; margin-bottom:10px;}
.banner-bottom{margin:1em 0; padding:0px; width:100%;}	

.footer{width:94%; margin:10px auto; padding:0px; overflow:hidden; text-align:center; color:#fff; line-height:1.8;}
	
.menu-left{display:none;}

.contact-us{display:none;}

.social-media{float:left;display:none;}

#mobile-menu1{display:block;}

.menu-right{width:40%; margin:5.5em 0 0; padding:0px; float:right; display:none;}

.phone{float:none; margin:10px 0px;}

.email{float:none; margin:5px 30px 5px 0em; overflow:hidden; width:100%}

.banner-bottom-text{ width:94%; margin:0px auto;}

.banner-bottom-text h1{text-align:center; margin:0px 0px 10px; line-height:1.2;}

.footer-left{width:100%; margin:5px 0px 0px; padding:0px; float:none; color:#d0cfcf; text-align:center;}

.footer-left a{text-decoration:none; color:#d0cfcf; text-align:left; margin:0px; padding:0px 5px;}

.social-media-footer{float:none; margin:10px auto; width:78%;}

.footer-right{width:100%; margin:0px; padding:0px; float:right; color:#d0cfcf; text-align:justify;}

.footer-left ul{margin:0px 5em 0 0; padding:0px; width:100%; float:none;}

.reservation-left{ width:100%; float:none;}

.reservation-right{ width:100%; float:none;}

.blog1{float:none; width:100%; margin-bottom:2em;}

.blog2{float:none; width:100%; margin-bottom:2em; margin-left:0px;}

.blog3{float:none; width:100%; margin-bottom:2em;}

.gallery-main ul li{ padding:0px; display:block; float:left; width:100%; margin:0px 0px 0px;}

.gallery-main ul li a{ padding:0px; text-decoration:none; float:none; padding:0 0px; display:block;}

.left{float:none; width:100%;}

.right{float:none; width:100%}

.hoteal-services ul li img {border: 1px solid #cccccc; display: block; margin: 0 auto 10px; padding: 5px; text-align: center;}

.hoteal-services ul li {
    float: none;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

#map {
        width: 100%;
        height: 200px;
      }
.address-box{ width:100%; float:none;}

.phones-box{ width:100%; float:none; margin-left:0px;}

.email-box{ width:100%; float:none; margin-left:0px;}

.contact-form-left{ width:100%; float:none;}

.contact-form-middle{ width:100%; float:none; padding:10px 0px ; margin-left:0px;}

.contact-form-right{ width:100%; float:none;}

.left-panel{width:100%; margin:1em 0px; padding:0px; float:left; background:url(../images/bg-shadow.jpg) right top repeat-y; overflow:hidden;}

.right-panel{width:100%; margin:2em 0px; padding:0px; float:right;}

.right-panel h1{margin:0px; padding:13px 0 0 0px; line-height:1.2;}


.bookbtn {
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
  background: #335770;
  text-decoration: none;
}

.bookbtn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


.goog-te-gadget-simple {
    background-color: #fff;
    border-color: #9b9b9b #d5d5d5 #e8e8e8;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 10pt;
    margin: 5px 11px 5px;
    padding-bottom: 2px;
    padding-top: 1px;
    text-align: center;
}


	  
}